.App {
  text-align: center;
  font-family: Beaufort !important;
}

/*Common css for the same styling across all pages*/
@font-face {
  font-family: 'Berthold Akzidenz Condensed';
  src: url('./res/fonts/Berthold Akzidenz Grotesk Condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berthold Akzidenz Condensed';
  src: url('./res/fonts/Berthold Akzidenz Grotesk Extra Bold Condensed Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: initial;
}

@font-face {
  font-family: 'Beaufort';
  src: url('./res/fonts/BeaufortforLOL-Regular.eot');
  src: url('./res/fonts/BeaufortforLOL-Regular.eot?#iefix') format('embedded-opentype'),
  url('./res/fonts/BeaufortforLOL-Regular.woff') format('woff'),
  url('./res/fonts/BeaufortforLOL-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beaufort';
  src: url('./res/fonts/BeaufortforLOL-Bold.eot');
  src: url('./res/fonts/BeaufortforLOL-Bold.eot?#iefix') format('embedded-opentype'),
  url('./res/fonts/BeaufortforLOL-Bold.woff') format('woff'),
  url('./res/fonts/BeaufortforLOL-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}