.loading-overlay {
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    position: fixed;
    transition: all .25s ease-in; 
}

.loading-completed {
    opacity: 0;
}

.loading-div {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    width: 300px;
}

.loading-text {
    color: #482121;
    font-family: beaufort;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
}
