.data-panel {
    min-width: 400px;
    max-width: 800px;
    height: 100%;
    background: linear-gradient(to right , black, transparent);
    margin-left: 80px;
}

@media screen and (max-width: 500px) {
    .data-panel {
        margin-left: 0px !important;
    }
}