.nav-tabs {
    height: 64px;
    white-space: normal;
    padding-top: 10px !important;
}

.nav-tabs-active {
    background: linear-gradient(transparent, transparent, hsla(38, 15%, 56%, 0.4));
}

.logo {
    height: 65%;
    margin-top: 5px;
    margin-left: 5px;
}
