.items-panel {
    color: white !important;
    height: 100%;
    max-width: 450px;
}
.sub-items-panel {
    overflow-y: scroll;
    max-height: calc(100vh - 102px);
}
.item-row {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
    transition: all 0.25s linear;
}

.item-header-row {
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.25s linear;
}

.item-row:hover {
    background-color: rgba(0, 0, 0, 0.75);
    text-decoration: underline;
}

.item-row:hover .item-image {
    filter: brightness(150%);
}

.item-image {
    cursor: pointer;
    transition: all 0.3s ease-in;
    height: 50px;
    width: 50px;
}

.item-name {
    width: 50%;
    padding-left: 15px;
    text-align: center;
}

.item-winrate {
    text-align: center;
    flex-grow: 1;
}

.item-frequency {
    text-align: center;
    flex-grow: 1;
}

.item-image:hover {
    filter: brightness(175%);
}

.item-tab {
    flex-grow: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    cursor: pointer;
    transition: 0.25s linear;
}
.item-tab:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.item-tab-active {
    background-color: rgba(0, 0, 0, 0.2);
}

.item-nav {
    display: flex;
    background-color: black;
}

.active-tab {
    background-color: rgba(255, 255, 255, 0.15);
}
