.champion-header {
    text-align: center;
    position: absolute;
    color: #f0e6d2;
    bottom: 25px;
    right: 25px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
    z-index: 0;
}

.champion-name {
    margin-bottom: 0px;
    font-size: 4.5rem;
}

.champion-title {
    font-size: 2rem;
    margin: 0px;
}

.champion-overlay {
    transition: all 1s ease-in-out;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.champion-overlay-hidden {
    opacity: 0;
}

.champion {
    height: calc(100vh - 62px);
    width: 100vw;
    position: relative;
}

.champion-img {
    z-index: -10;
    height: 100%;
    width: 100%;
    position: absolute;
    max-height: 100%;
    overflow-y: hidden;
}